{% extends "base.html" %}

{% block head %}
	<!--style>
		.Container {
			display: grid;
			grid-template-columns: minmax(20%, 40%) 1fr;
			gap: var(--gap-l);
  		padding: var(--gap-l);
		}

		.Main {
			border-radius: var(--radius-l);
			box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.16);
		}

		.Results {
			border-radius: var(--radius-l);
			background-color: white;
		}

		.Results.hidden {
			opacity: 0;
		}

		.Results > ul {
			position: sticky;
			inset-block-start: 0;
		}

		.IngredientsForm details {
			margin-block: var(--gap-xs);
			border: 1px solid hsla(var(--guideline-hsl), var(--hinted-opacity));
			border-radius: var(--radius-s);
		}

		.IngredientsForm details > summary {
			padding: var(--gap-xs) var(--gap-s);
			font-size: var(--text-l);
			color: hsla(var(--text-hsl), var(--hinted-opacity));
			cursor: pointer;
		}

		.IngredientsForm details > summary > span {
			float: right;
			line-height: calc(var(--text-l) + 0.5rem);
			font-size: var(--text-m);
			color: hsl(var(--secondary-hsl));
		}

		.IngredientsForm details > summary::marker {
			content: "";
		}

		.IngredientsForm details[open] > summary {
			font-weight: bold;
		}

		.IngredientsForm details:not([open]) > summary:hover {
			color: hsl(var(--primary-hsl), var(--hinted-opacity));
		}

		.IngredientSelector {
			display: flex;
			align-items: center;
			gap: var(--gap-s);
			padding: var(--gap-xs) var(--gap-s);
		}

		.IngredientSelector:not(:last-of-type) {
			border-block-end: 1px solid hsla(var(--guideline-hsl), var(--hinted-opacity));
		}

		.IngredientSelector > span {
			flex-grow: 1;
		}

		.IngredientSelector > label,
		.IngredientSelector > a {
			border: 0.1rem solid hsl(var(--guideline-hsl));
			padding: var(--gap-xs) var(--gap-s);
			border-radius: var(--radius-s);
			color: inherit;
			text-decoration: none;
			cursor: pointer;
		}

		.IngredientSelector > label:hover,
		.IngredientSelector > a:hover {
			border-color: currentColor;
			color: hsl(var(--primary-hsl));
		}

		.IngredientSelector > input[type=checkbox] {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		.IngredientSelector > input[type=checkbox] + label::before {
			content: "Select";
		}

		.IngredientSelector > input[type=checkbox]:checked + label:not(:hover) {
			border-color: currentColor;
			color: hsl(var(--secondary-hsl));
		}

		.IngredientSelector > input[type=checkbox]:checked + label::before {
			content: "Selected";
			font-weight: bold;
		}

		.IngredientsForm input[type=submit] {
			display: block;
			margin: var(--gap-m) auto;
			border: 0.2rem solid hsl(var(--primary-hsl));
			border-radius: var(--radius-s);
			padding-inline: var(--gap-s);
			line-height: 3rem;
			background-color: transparent;
		}

		.IngredientsForm input[type=submit]:hover {
			background-color: hsl(var(--primary-hsl));
			color: white;
		}
	</style-->
{% endblock %}

{% block body %}
	<div class="Container">
		<header class="Infos">
				<h1 class="Title">Cookpot</h1>
		</header>

		<main class="Results">
			<div class="Cauldron">
				<svg viewBox="0 0 210 297" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<linearGradient id="cauldron-body-fill" x1="36" y1="120" x2="157" y2="162" gradientUnits="userSpaceOnUse">
							<stop offset="0" />
							<stop offset="1" />
						</linearGradient>

						<filter id="dirt-filter" x="-100%" y="-100%" width="300%" height="300%">
							<feGaussianBlur result="result0" in="SourceGraphic" stdDeviation="0.2"/>
							<feTurbulence result="result1" numOctaves="4" baseFrequency=".1"/>
							<feDisplacementMap in="result0" in2="result1" scale="80" yChannelSelector="G" xChannelSelector="R" />
							<feColorMatrix result="result3" values="2 0 0 0 0 0 2 0 0 0 0 0 2 0 0 0 0 0 0.7 0" />
							<feGaussianBlur result="result4" in="SourceGraphic" stdDeviation="2"/>
							<feComposite in="result3" in2="result4"/>
						</filter>

						<filter id="cauldron-content-filter" x="-100%" y="-100%" width="300%" height="300%">
							<feTurbulence result="turbulence" numOctaves="4" baseFrequency=".05"/>
							<feDisplacementMap in="SourceGraphic" in2="turbulence" scale="50" yChannelSelector="G" xChannelSelector="R" />
							<feGaussianBlur stdDeviation="3"/>
						</filter>
					</defs>
					<g class="cauldron">
						<path class="cauldron-body" d="M41.4633 109.5483c-4.9431 14.7717-9.8862 29.5431-7.5475 44.9167 2.3387 15.3735 11.959 31.3489 30.5379 39.3745 18.579 8.0256 49.2771 8.1103 66.4166.9975 17.1395-7.1128 27.0418-21.4058 30.0471-36.7028 3.0054-15.297-.8864-31.5984-4.7782-47.9" fill="url(#cauldron-body-fill)" />
						<ellipse class="cauldron-neck" cx="99.8697" cy="105.6442" rx="63.0523" ry="18.1282" />
						<ellipse class="cauldron-top" cx="99.8081" cy="102.1852" rx="63.0523" ry="18.1282" fill="#b3b3b3" />
					</g>

					<mask id="cauldron-content-mask">
						<ellipse class="cauldron-content" cx="99.78" cy="101.9877" rx="58.7849" ry="14.4898" fill="white" />
					</mask>
					<g class="cauldron-content" mask="url(#cauldron-content-mask)">
						<rect x="0" y="0" width="100%" height="100%" />
						<path d="m16.6223 109.659 58.675-12.746 75.292 1.6214 42.6333 11.8606-14.7094 28.0165S20.35 142.7737 20.35 139.6415c0-3.1323-3.7277-29.9826-3.7277-29.9826z" filter="url(#cauldron-content-filter)" />
						<path d="m14.041 80.1654 6.3187 22.4833 87.4921 10.2393 65.3462-11.295 6.012-29.0138z" filter="url(#cauldron-content-filter)" />
					</g>
					<ellipse class="cauldron-content-rim" cx="99.78" cy="101.9877" rx="58.7849" ry="14.4898" />

					<mask id="cauldron-dirt-mask">
						<path d="M41.4633 109.5483c-4.9431 14.7717-9.8862 29.5431-7.5475 44.9167 2.3387 15.3735 11.959 31.3489 30.5379 39.3745 18.579 8.0256 49.2771 8.1103 66.4166.9975 17.1395-7.1128 27.0418-21.4058 30.0471-36.7028 3.0054-15.297-.8864-31.5984-4.7782-47.9" fill="white" />
					</mask>
					<g class="cauldron-dirt" mask="url(#cauldron-dirt-mask)">
						<path transform="matrix(.26458 0 0 .26458 8.8183 14.8855)" d="M234.414 552.1273c-14.0795 7.362-6.0224 32.003-14.6111 45.3696-6.7543 10.5116-15.2004 24.6242-27.6779 25.2776-16.4966.8639-33.7313-14.0844-39.8836-29.4151-4.547-11.3305 9.7278-24.3766 6.2708-36.0857-2.5958-8.792-10.4692-16.0967-18.6703-20.193-5.2503-2.6223-14.3805 3.1708-17.515-1.7908-7.8469-12.4212 14.212-26.842 14.7839-41.523.4294-11.0237-12.368-21.5642-8.6419-31.9479 2.955-8.235 15-9.232 21.3992-15.1984 5.6251-5.2447 8.5327-13.1597 14.6425-17.8309 5.875-4.4917 14.308-13.5107 20.2377-9.0914 10.3234 7.6936-15.4125 30.583-5.0968 38.287 9.6166 7.1819 20.8864-14.106 32.8747-14.6896 10.0746-.4905 18.7189 11.0877 28.6955 9.6027 10.2618-1.5276 15.0385-16.9875 25.3593-18.0456 11.332-1.1618 26.1243 3.5964 31.2852 13.7516 8.8141 17.3438-6.5008 38.5065-12.5254 57.0052-6.1677 18.938-5.9069 46.3993-24.0036 54.718-8.524 3.9182-18.6097-12.5474-26.9232-8.2003z" filter="url(#dirt-filter)" />
						<path d="M146.6444 167.4136c-2.4162 5.5096-7.5288 10.9224-13.4387 12.0476-9.7191 1.8505-26.1509-.5557-27.8347-10.305-.833-4.823 9.177-4.9932 11.262-9.4211 1.713-3.638.4451-8.0592.0724-12.063-.483-5.1883-6.0963-11.1715-2.9778-15.3461 1.7094-2.2884 5.8231.092 8.5297-.821 3.7455-1.2636 6.2608-7.2652 10.0803-6.2466 3.2335.8623 1.5552 7.8973 4.7675 8.8354 4.6937 1.3708 8.5198-9.461 12.8191-7.1317 2.8019 1.518 1.2295 6.3996.6693 9.5367-.604 3.3825-3.5364 6.0334-4.236 9.3974-1.4608 7.0228 3.1678 14.9482.287 21.5174z" filter="url(#dirt-filter)" />
						<path d="M85.7735 162.0892c1.2855-5.2164 1.7217-13.6392 4.2318-17.195 2.51-3.556 7.0937-2.2446 11.393-3.5281 4.2992-1.2836 8.3142-5.1618 11.7806-5.8158 3.4664-.6539 6.384 1.9163 6.264 6.1115-.1199 4.1952-3.2768 10.0155-7.117 14.5538-3.84 4.5383-8.3635 7.7946-10.36 10.8032-1.9965 3.0086-1.4661 5.7692.3016 7.3787 1.7677 1.6094 4.7725 2.068 4.772 3.893-.0007 1.8248-3.0065 5.0161-5.9149 5.6661-2.9083.65-5.7196-1.2414-8.9656-1.2695-3.2459-.0281-6.9263 1.8075-10.785 1.2609-3.8589-.5465-7.8963-3.4755-9.1158-6.2682-1.2195-2.7928.3793-5.4492 2.1758-6.4854 1.7966-1.0362 3.7905-.4521 5.8548-1.1653 2.0642-.7131 4.1992-2.7234 5.4847-7.9399z" filter="url(#dirt-filter)" />
					</g>
				</svg>
			</div>
		</main>

		<div class="Cards">
			{% for index, ingredients in ingredient_library %}
				<input id="selectedcategory-{{ index }}" name="selectedcategory" type="radio" value="{{ category }}" />
				<label class="CategorySelector" for="selectedcategory-{{ index }}">
					{{ ingredients.0.category_label }}
				</label>

				{% if ingredients|length > 1 %}
					<div class="CardFan" style="--card-count: {{ ingredients|length }}">
				{% else %}
					<div class="CardFan single">
				{% endif %}
					{% for ingredient in ingredients %}
						<input id="ingredient{{ ingredient.pk }}" type="checkbox" name="ingredient{{ ingredient.pk }}" />
						<label for="ingredient{{ ingredient.pk }}">
							<div class="IngredientCard">
								{{ ingredient.display_name }}
							</div>
							<div class="IngredientPlaceholder">
								{{ ingredient.display_name }}
							</div>
						</label>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

{#	<main class="Container">#}
{#		<div class="Main">#}
{##}
{#			<form class="IngredientsForm" action="{% url "pairing_results" %}" method="post">#}
{#				{% for ingredients in ingredient_library %}#}
{#					<details>#}
{#						<summary>{{ ingredients.0.category_label }}</summary>#}
{##}
{#						{% for ingredient in ingredients %}#}
{#							<div class="IngredientSelector">#}
{#								<span>{{ ingredient.display_name }}</span>#}
{##}
{#								<input id="ingredient{{ ingredient.pk }}" type="checkbox" name="ingredient{{ ingredient.pk }}" />#}
{#								<label for="ingredient{{ ingredient.pk }}"></label>#}
{##}
{#								<a href="https://cosylab.iiitd.edu.in/flavordb/entity_details?id={{ ingredient.flavordb_id }}" target="_blank" crossorigin="anonymous" referrerpolicy="no-referrer">FlavorDB</a>#}
{#							</div>#}
{#						{% endfor %}#}
{#					</details>#}
{#				{% endfor %}#}
{##}
{#				{% csrf_token %}#}
{#				<input type="submit" value="Pair!" />#}
{#			</form>#}
{#		</div>#}
{##}
{#		<div class="Results hidden">#}
{##}
{#		</div>#}
{#	</main>#}
{% endblock %}
