:root {
  --gap-xs: 0.5rem;
  --gap-s: 1rem;
  --gap-m: 1.5rem;
  --gap-l: 2.5rem;
  --text-l: 1.2rem;
  --text-m: 1rem;
  --text-hsl: 0, 0%, 3%;
  --guideline-hsl: 19, 7%, 76%;
  --primary-hsl: 38, 92%, 47%;
  --dark-primary-hsl: 38, 87%, 40%;
  --hinted-opacity: 0.7;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: Cantarell, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

.Main {
  padding: var(--gap-m);
  background-color: white;
}

.Title {
  margin-block: var(--gap-l);
  line-height: 4vmin;
  font-size: 4vmin;
  font-weight: 900;
  text-align: center;
  color: hsl(var(--primary-hsl));
}
